.redball {
  position: absolute;
  top: 53px;
  left: 550px;
  width: 83px;
  height: 83px;
  opacity: 0.8;
}
.mainScreen {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 450px;
}

.mainScreen__main-text {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}
.mainScreen__main-text-weblex {
  font-size: 48px;
  font-weight: 400;
}

.mainScreen__main-text-weblex span {
  font-weight: bold;
  background: linear-gradient(92deg, #fcb045 27.14%, #ff3f78 121.36%), #e4e5ea;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.mainScreen__main-text-paragraf {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 18px;
}

.mainScreen__consultation {
  display: flex;
  flex-direction: column;
  text-align: right;
  align-items: flex-end;
}

.mainScreen__consultation-main-text {
  font-size: 18px;
  margin-bottom: 40px;
}

.mainScreen__consultation-main-text span {
  text-transform: uppercase;
  font-weight: bold;
  background: linear-gradient(90deg, #fcb045 36.99%, #fd1d1d 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.mainScreen__consultation-advantages-mobile {
  display: none;
}
.mainScreen__consultation-advantages {
  display: flex;
  flex-wrap: wrap;
  row-gap: 30px;
  margin-bottom: 61px;
}

.mainScreen__consultation-advantages-vidgets,
.mainScreen__consultation-advantages-dashboard,
.mainScreen__consultation-advantages-skype,
.mainScreen__consultation-advantages-35Days {
  flex-basis: 50%;
}
.advantages-headers {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-size: 18px;
}

.advantages-text {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  text-align: right;
}

.mainScreen__consultation-button {
  max-width: 262px;
  background-color: #4077f3;
  color: #e4e5ea;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  padding: 21px 32px;
}

@media screen and (max-width: 1200px) {
  .mainScreen {
    column-gap: calc(20px + 1vw);
  }
}

@media screen and (max-width: 720px) {
  .mainScreen {
    flex-direction: column;
    row-gap: 45px;
    background-image: url('../../assets//bgM.png');
    background-size: cover;
  }
  .mainScreen__consultation {
    align-items: flex-start;
    text-align: left;
  }
  .mainScreen__consultation-main-text {
    margin-bottom: 20px;
  }
  .mainScreen__consultation-advantages,
  .mainScreen__consultation-button {
    display: none;
  }

  .mainScreen__consultation-advantages-mobile {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    row-gap: 15px;
    margin-bottom: 60px;
  }

  .mainScreen__consultation-advantages-mobile-vidgets,
  .mainScreen__consultation-advantages-mobile-dashboard,
  .mainScreen__consultation-advantages-mobile-skype,
  .mainScreen__consultation-advantages-mobile-35Days {
    flex-basis: 50%;
    display: flex;
    column-gap: 5px;
    align-items: center;
  }
  .advantages-headers-mobile {
    position: relative;
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 16px;
  }
}

@media screen and (max-width: 480px) {
  .mainScreen__main-text {
    row-gap: 15px;
  }
  .mainScreen__main-text-weblex {
    font-size: 36px;
  }

  .mainScreen__main-text-paragraf {
    font-size: 18px;
  }

  .advantages-headers-mobile {
    font-size: 13px;
  }
}
