@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&family=Montserrat:wght@300;400&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #e4e5ea;
}

a {
  color: #e4e5ea;
}

.container {
  max-width: 1140px;
  padding: 42px 10px 0 10px;
  margin: 0 auto;
}
